{% extends 'base.html' %}
{% block body %}
<!-- templates/index.html -->
<div>
    <p>Gif search project</p>
    <form action='/'>
        <input id="search-bar" class="search-bar" type="search" name="user_input" placeholder="Search gifs: "/>
        <button class="search-button" type="submit">Search</button>
    </form>
</div>

<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->

    {% if gifs|length == 0 %}
        <p>No gifs could be found</p>
    {% else %}
        {% for gif in gifs %}
            {% include 'gif.html'  %}
        {% endfor %}
    {% endif %}
   

{% endblock %}
